<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='style.css') }}" type="image/x-icon" />
        <title>Voting</title>
        <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body style=" background: linear-gradient(90deg, #519be1, #F87293, #F9B78B);">
        
        <form method="post">
            <button name="btn1" id="btn1" class="button_1" target="_blank" value = "btn1"> 
                1 person
                <p> voices: {{voices1}}</p> 
            </button>

            <button name="btn2" id="btn2" class="button_2" target="_blank" value = "btn2"> 
                2 person
                <p> voices: {{voices2}}</span></p> 
            </button>

            <button name="btn3" id="btn3" class="button_3" target="_blank" value = "btn3">
                3 person
                <p> voices: {{voices3}}</p> 
            </button>

            <button name="btn4" id="btn4" class="button_4" target="_blank" value = "btn4">
                4 person
                <p> voices: {{voices4}}</p> 
            </button>
        </form>

    </body>
</html>