<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='cat.gif') }}" type="image/x-icon" />
        <title>Voting</title>
        <link rel="stylesheet", href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body style=" background: linear-gradient(90deg, #519be1, #F87293, #F9B78B);">
        
        <a href="/"><button class="button_back2main">back</button></a>
    </body>
</html>