.button_1 {
    position: fixed;
    left: 30%;
    width: 40%;
    height: 15%;
    padding: 0;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    display: inline-block !important;
    text-decoration: none !important;
    border-radius: 5px !important;
    font-size: 24px !important;
    margin: 0 auto;
    margin-right: 50px;
    vertical-align: middle;
    transition: all 0.3s ease !important;
    font-weight: bolder;

    top: 8%;
    background-color: #02a5eb !important;
    color: #006089 !important;
    border: 3px solid #006089 !important;
}
.button_1:hover{
    text-decoration: none !important; 
    background-color: #006089 !important;
    color: #072675 !important;
    border-color: #006089 !important;
}

.button_2 {
    position: fixed;
    left: 30%;
    width: 40%;
    height: 15%;
    padding: 0;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    display: inline-block !important;
    text-decoration: none !important;
    border-radius: 5px !important;
    font-size: 24px !important;
    margin: 0 auto;
    margin-right: 50px;
    vertical-align: middle;
    transition: all 0.3s ease !important;
    font-weight: bolder;

    top: 31%;
    background-color: #d66dfc !important;
    color: #a60396 !important;
    border: 3px solid #a60396 !important;
}
.button_2:hover{
    text-decoration: none !important; 
    background-color: #a60396 !important;
    color: #57014e !important;
    border-color: #a60396 !important;
}

.button_3 {
    position: fixed;
    left: 30%;
    width: 40%;
    height: 15%;
    padding: 0;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    display: inline-block !important;
    text-decoration: none !important;
    border-radius: 5px !important;
    font-size: 24px !important;
    margin: 0 auto;
    margin-right: 50px;
    vertical-align: middle;
    transition: all 0.3s ease !important;
    font-weight: bolder;
    
    top: 54%;
    background-color: #fab01b !important;
    color: #b36d1d !important;
    border: 3px solid #b36d1d !important;
}
.button_3:hover{
    text-decoration: none !important; 
    background-color: #b36d1d !important;
    color: #7a330a !important;
    border-color: #b36d1d !important;
}

.button_4 {
    position: fixed;
    left: 30%;
    width: 40%;
    height: 15%;
    padding: 0;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    display: inline-block !important;
    text-decoration: none !important;
    border-radius: 5px !important;
    font-size: 24px !important;
    margin: 0 auto;
    vertical-align: middle;
    transition: all 0.3s ease !important;
    font-weight: bolder;
    
    top:77%;
    background-color: #0afa5a !important;
    color: #235902 !important;
    border: 3px solid #079426 !important;
}
.button_4:hover{
    text-decoration: none !important; 
    background-color: #079426 !important;
    color: #235902 !important;
    border-color: #079426 !important;
}